/* all */
*{
 font-family: Arial, Helvetica, sans-serif;
}

/* Upper nav bar */
/* Menu bar */
#logo{
    width: 50px;
    padding: 0px 0px 10px 0px;
}
#menuBar {
    display: block;
    flex-wrap: wrap;

    /* margin-left: 50px; */
}
.menubarli ul li {
    color: blue !important;
    border-radius: 22px;
    padding-left: 5px;
    font-weight: 500;
}
.menubarli ul li:hover {
    background-color: #7cc8e1;
    border-radius: 22px;
}
.menubarli ul li a:hover {
    background-color: #316DC3;;
    border-radius: 22px;
    color: white !important;
}
.menubarli ul li a:hover {
    color: white !important;
    font-weight: 700;

}
.navName:hover{
    color: rgb(14, 159, 216);
    font-weight: 550;
}
.navLogo:hover{
width: 45px;
height: 45px;
}
.navbar-toggler-icon{
    padding-top: 3px;
}
.navbar-toggler-icon:hover{
    color:white;
}
#navBar{
    background-color:rgba(252, 247, 247, 0.774);
}

/* carousl */
#carouselExampleCaptions p{
    color: blue;
}
#carouselExampleCaptions img{
 width: 100%;
 height: 750px;
}
/* Dropdown */
.navbar-nav li.dropdown-menu{
    min-width: 100%; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
.navbar-nav li:hover .dropdown-menu{
    display: block; 
}
#navbarDropdownMenuLink ,#nav-link{
    color: black;
    font-weight: 700;
}
/* .navbar-nav li a{
    display: inline-block;
    color: black;
    text-decoration: none;
} */


/* Footer */
footer .main-footer{	padding: 20px 0;	background-color:rgba(252, 247, 247, 0.774);}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;  ;	padding: 5px 0;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright p {	color: white !important;
    	margin: 2px 0 0;}
.footer-copyright p a{
    color:rgb(45, 125, 230);
}
.footer-copyright p a:hover{
    color: #ffd800;
    cursor:pointer;
    transition:all .3s;
}
#footer h5{
    color:black;
    font-weight: 600;
}
#footer p{
    color:black;
    font-weight: 600;
}


/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
/* background */
.header {
    position: relative;
    height: 30px;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .header video {
    position: fixed;
    top: 5%;
    left: 5%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .header .container {
    position: relative;
    z-index: 1;
  }
  @media (pointer: coarse) and (hover: none) {
    .header {
      background: url('') black no-repeat center center scroll;
    }
    .header video {
      display: none;
    }
  }

 /* Facts Boxes  */
 #seemore{
    font-size:large; text-decoration: none; color: white;
 }
 #seemore:hover{
     font-size: 2em;
 }
/* goto top button */


  .intro-copy {
    padding: 1em;
    margin: 50vh auto;
    max-width: 15em;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
  }
  
  .top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    
      cursor: pointer;
      align-items: center;
      justify-content: center;
      margin: 0 3em 3em 0;
      border-radius: 50%;
      padding: .25em;
      width: 80px;
      height: 80px;
    background-color: #F8F8F8;
    
  }
  .topbtn{
      color: white;
      width: 50px;
      height: 50px;
      text-align: center;
      padding-top: 15px;
      background-color: #316DC3;
      border-radius: 22px;
  }
  .topbtn:hover{
    width: 60px;
    height: 60px;
  }

  
                /* Procduct.html */

/* header */
  

/* side menu bar */  
    
   @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
   
   body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,a:hover,
a:focus {
  
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $lila;
    color: $text-sidebar;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:$lila-60 /*#6d7fcc*/;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid $lila-line;
}

#sidebar ul p {
    color: $text-sidebar;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: $lila;
    background: $text-sidebar-hover;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: $text-sidebar;
    background: $lila-60;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
 
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $lila-60;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: $text-sidebar;
    color: $lila;
}

a.article,
a.article:hover {
    background: $lila-60 !important;
    color: $text-sidebar !important;
}

/* CONTENT STYLE*/

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* MEDIAQUERIES */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/* carousl product*/
#carouselExampleCaptions p{
  color: blue;
}
#carouselExampleCaptions img{
width: 100%;
height: 750px;
}
